html.dark {
  --white: #ffffff;
  --dark-1a1a: #1a1a1a;
  --dark-orange-opacited: rgba(255, 123, 0, 0.5);
  --orange: #f27318;
  --orange-opacited-15: #fe6a0015;
  --dark-orange: #d66819;
  --dark-0f0f: #0f0f0f;
  --dark-121212: #121212;
  --gray-2222: #222222;
  --gray-3232: #323232;
  --gray-4040: #404040;
  --gray-5050: #505050;
  --gray-6161: #616161;
  --gray-9999: #999999;
  --green: #00b894;
  --red: #ed4c67;
  --light-eee: #eee;
  --light-gray-d5d5: #d5d5d5;
  --light-gray-ddd: #ddd;
  --light-gray-d0d0: #d0d0d0;
  --light-gray-eee: #eee;
  --btn-opacited-hover-bg: #4d4d4d50;
  --brown: #37271c;
  --main-container-padd-top: 5.6rem;
  --cc-bg: var(--gray-2222);
  --dark-opacited-85: rgba(0, 0, 0, 0.55);
  --cc-secondary-color: var(--white);
  --cc-btn-primary-bg: var(--orange);
  --cc-btn-primary-color: var(--white);
  --cc-btn-primary-hover-color: var(--white);
  --cc-btn-primary-hover-bg: var(--dark-orange);
  --cc-separator-border-color: var(--gray-5050);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7b7b7b !important;
}

::-webkit-scrollbar-track {
  background-color: #424242 !important;
}

.filter-dropdown {
  position: absolute;
  min-width: 12rem;
  height: auto;
  border: 1px solid var(--gray-3232);
  border-radius: 4px;
  background-color: var(--dark-1a1a);
  z-index: 10;
  padding: 5px 0px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.15s;
  top: 38px;
}
@media screen and (max-width: 1024px) {
  .filter-dropdown {
    display: none !important;
  }
}
.filter-dropdown:not(.active) {
  visibility: hidden;
  opacity: 0;
  top: 42px;
  transition: 0.15s;
}
.filter-dropdown > .filtering-dropdown-btns {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--white);
  text-align: left;
  font-size: 13px;
  padding: 0.6rem 0.5rem;
  padding-left: 0.6rem;
  transition: 0s;
  cursor: pointer;
}
.filter-dropdown > .filtering-dropdown-btns:hover {
  background-color: var(--gray-4040);
}
.filter-dropdown > .filtering-dropdown-btns.choosed {
  display: flex;
  align-items: center;
  background-color: var(--brown);
}
.filter-dropdown > .filtering-dropdown-btns.choosed:before {
  content: "";
  background-image: url("/icons/check-solid-orange.svg");
  left: 0;
  margin-right: 0.45rem;
  height: 1rem;
  width: 1rem;
  display: block;
  background-repeat: no-repeat;
}
.filter-dropdown .filtering-dropdown-btns:not(.choosed) {
  padding-left: 2rem;
}

.films-wrapper-landscape {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 1.3rem;
  row-gap: 1.8rem;
}
@media screen and (max-width: 1024px) {
  .films-wrapper-landscape {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1.7rem;
  }
}
@media screen and (max-width: 700px) {
  .films-wrapper-landscape {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .films-wrapper-landscape {
    grid-template-columns: repeat(1, 1fr);
  }
}
.films-wrapper-landscape .film-container-pejzaz img {
  width: 100%;
}

.films-category-control-btns {
  display: flex;
  column-gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  .films-category-control-btns {
    column-gap: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  .films-category-control-btns {
    display: none;
  }
}
.films-category-control-btns .films-category-control-btn {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.films-category-control-btns .films-category-control-btn:not(.swiper-button-disabled):hover {
  background-color: var(--gray-3232);
  transition: background-color 0.2s;
}
.films-category-control-btns .films-category-control-btn.swiper-button-disabled {
  color: var(--gray-3232);
}

.swiper-wrapper {
  overflow-y: hidden !important;
}

.orange-outline-focus:focus {
  position: relative;
  border: 1px solid var(--dark-orange-opacited) !important;
  outline: 4px solid var(--orange-opacited-15) !important;
  transition: outline 0.1s;
}

.orange-btn-style {
  background-color: var(--orange) !important;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
  width: max-content;
}
.orange-btn-style:hover {
  background-color: var(--dark-orange) !important;
  transition: background-color 0.2s;
}

.main-container-width-padd-top-1240 {
  width: 1240px;
  min-height: 100vh;
  padding: calc(var(--main-container-padd-top) + 0.7rem) 0rem;
}
@media screen and (max-width: 1350px) {
  .main-container-width-padd-top-1240 {
    width: 93%;
  }
}
@media screen and (max-width: 768px) {
  .main-container-width-padd-top-1240 {
    padding: var(--main-container-padd-top) 0rem;
  }
}

.orange-outlined-btn-style {
  outline: 1px solid var(--dark-orange-opacited);
  border-radius: 4px;
  color: var(--dark-orange);
  transition: 0.1s;
}
.orange-outlined-btn-style:hover {
  outline-color: var(--dark-orange);
  background-color: var(--orange-opacited-15);
  transition: 0.1s;
}

.input-style {
  padding: 0px 10px;
  color: var(--white);
  font-size: 1rem;
  outline: 1px solid var(--gray-5050);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  height: 2.6rem;
}

.btn-style-outlined {
  padding: 5px 10px;
  color: var(--white);
  font-size: 1rem;
  outline: 1px solid var(--gray-5050);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  height: max-content;
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.btn-style-outlined:hover {
  background-color: var(--btn-opacited-hover-bg);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.transparent-btn-style {
  padding: 0.5rem 0.9rem;
  transition: background-color 0.3s ease;
}
.transparent-btn-style:hover {
  background-color: var(--btn-opacited-hover-bg);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.btn-choosed-style {
  width: 100%;
  height: 100%;
  color: var(--white);
  text-align: left;
  padding: 0.5rem;
  padding-left: 1.2rem;
  font-size: 13px;
}
.btn-choosed-style:hover {
  background-color: var(--gray-4040);
}
.btn-choosed-style.choosed {
  height: auto;
  background-color: var(--brown);
  background-color: var(--brown);
}
.btn-choosed-style.choosed:before {
  content: "";
  background-image: url("/icons/check-solid-orange.svg");
  left: 0;
  margin-right: 0.3rem;
  height: 1rem;
  width: 1rem;
  display: block;
  background-repeat: no-repeat;
}

.category-movies-title-before-orange-hr:before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--orange);
  border-radius: 5px;
}

.blur-full-space::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 150%;
  top: -200px;
  z-index: -10;
  display: none;
}
@media screen and (max-width: 1024px) {
  .blur-full-space::before {
    display: block;
  }
}

.blur-full-space.active::before {
  background-color: var(--dark-opacited-85);
  backdrop-filter: blur(4px);
  z-index: 10;
}

.space-dark {
  background-color: var(--dark-121212);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.space-light {
  background-color: var(--dark-1a1a);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.typical-container-comp-with-films {
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  width: 1240px;
  padding: calc(var(--main-container-padd-top) + 0.7rem) 0rem;
  padding-bottom: var(--main-container-padd-top);
}
@media screen and (max-width: 1350px) {
  .typical-container-comp-with-films {
    width: 90%;
    padding-top: var(--main-container-padd-top);
    padding-bottom: calc(var(--main-container-padd-top) - 0.8rem) 0rem;
  }
}
@media screen and (max-width: 400px) {
  .typical-container-comp-with-films {
    padding-top: calc(var(--main-container-padd-top) - 0.6rem);
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  height: max-content;
  padding-top: var(--main-container-padd-top);
  margin: 0 auto;
  width: 77.5rem;
  overflow: hidden;
}
@media screen and (max-width: 1350px) {
  .content-wrapper {
    width: 93%;
  }
}
@media screen and (max-width: 1024px) {
  .content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .content-wrapper {
    width: 93%;
    padding-top: 5rem;
  }
}
@media screen and (max-width: 365px) {
  .content-wrapper {
    padding-top: 4.5rem;
  }
}

.orange-link {
  color: var(--orange);
}
.orange-link:hover {
  text-decoration: underline;
  filter: brightness(95%);
}

.orange-checkbox {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid var(--light-gray-d0d0);
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.orange-checkbox:checked {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  border: 0;
}
.orange-checkbox:checked:before {
  content: "";
  background-image: url("/icons/check-solid-gray.svg");
  height: 14px;
  width: 14px;
  display: block;
  background-repeat: no-repeat;
  padding-top: 1px;
}

.loader-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background: var(--dark-orange);
  box-shadow: 0 0 60px 15px var(--dark-orange);
  transform: translate(-80px);
  clip-path: inset(0);
  animation: l4-1 0.5s ease-in-out infinite alternate, l4-2 1s ease-in-out infinite;
}

@keyframes l4-1 {
  100% {
    transform: translateX(80px);
  }
}
@keyframes l4-2 {
  33% {
    clip-path: inset(0 0 0 -100px);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 -100px 0 0);
  }
}
.films-heading-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.films-heading-section:before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--orange);
  border-radius: 5px;
  max-height: 33px;
}

.films-category-heading-text {
  padding-left: 15px;
  padding-right: 10px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  column-gap: 0.5rem;
  line-height: 1.3;
  cursor: text;
}
@media screen and (max-width: 1024px) {
  .films-category-heading-text {
    font-size: 1.5rem;
    column-gap: 0.3rem;
  }
}
@media screen and (max-width: 400px) {
  .films-category-heading-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 340px) {
  .films-category-heading-text {
    font-size: 1.3rem;
  }
}

.films-wrapper-default-mode {
  height: max-content;
  width: 100%;
  margin-top: 0 !important;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1.8rem;
}
@media screen and (max-width: 1350px) {
  .films-wrapper-default-mode {
    gap: 1rem;
  }
}
@media (max-width: 950px) {
  .films-wrapper-default-mode {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .films-wrapper-default-mode {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1.3rem;
  }
}
@media screen and (max-width: 450px) {
  .films-wrapper-default-mode {
    grid-template-columns: repeat(2, 1fr);
  }
}

.typical-dropdown-style-mobiles {
  padding: 6px 0px;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 93% !important;
  height: max-content;
  transform: translate(-50%);
  border: 1px solid var(--gray-5050);
  background-color: var(--dark-121212);
  z-index: 20;
  opacity: 1;
  display: none;
  transition: bottom 0.15s, visibility 0.3s;
}
@media screen and (max-width: 1024px) {
  .typical-dropdown-style-mobiles {
    display: block;
  }
}
.typical-dropdown-style-mobiles:not(.active) {
  opacity: 0;
  bottom: -100px;
}
.typical-dropdown-style-mobiles nav,
.typical-dropdown-style-mobiles div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.typical-dropdown-style-mobiles nav a,
.typical-dropdown-style-mobiles nav button,
.typical-dropdown-style-mobiles div a,
.typical-dropdown-style-mobiles div button {
  column-gap: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--white);
  height: 100%;
  width: 100%;
  padding: 10px 1rem !important;
}
.typical-dropdown-style-mobiles nav a:hover,
.typical-dropdown-style-mobiles nav button:hover,
.typical-dropdown-style-mobiles div a:hover,
.typical-dropdown-style-mobiles div button:hover {
  background-color: var(--gray-2222);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=global.css.map */