.films-wrapper-carousel {
  display: flex;
  flex-direction: column;
  row-gap: 3.8rem;
  margin-top: 2.8rem;
	margin-bottom: 2.5rem;
	@include tablet-800 {
		row-gap: 3rem;
	}
	@include mobile-600 {
		row-gap: 2.7rem;
	}
}

.film-container {
  margin-top: 2rem;
  font-size: 13.5px;
	@include mobile-600 {
		margin-top: 1.5rem;
	}
}

.films-image-section {
  a {
    position: relative;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(84%);
      transition: filter 0.2s;
    }
    img {
      height: 100%;
			width: 100%;
      border-radius: 0.2rem;
      object-fit: cover;
      filter: brightness(90%);
      cursor: pointer;
			@include mobile-600 {
				max-height: 19rem;
			}
    }
  }
}

.films-text-section {
  padding: 12px 0px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.film-link-title {
  font-size: 14.5px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
	@include mobile-400 {
		font-size: 13.5px;
	}
	@include mobile-340 {
		font-size: 12.5px;
	}
}

.films-category-control-btns  {
	display: flex;
	column-gap: 1.5rem;
	@include tablet-800 {
		column-gap: .8rem;
	}
	@include mobile-600 {
		display: none;
	}
	.films-category-control-btn  {
		height: 2.3rem;
		width: 2.3rem;
		border-radius: 50%;
		transition: background-color .2s;
		@include flex-center;
		&:not(.swiper-button-disabled):hover {
			background-color: var(--gray-3232);
			transition: background-color .2s;
		}
	}
	.films-category-control-btn.swiper-button-disabled {
		color: var(--gray-3232);
	}
}