@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
html.dark {
  --white: #ffffff;
  --dark-1a1a: #1a1a1a;
  --dark-orange-opacited: rgba(255, 123, 0, 0.5);
  --orange: #f27318;
  --orange-opacited-15: #fe6a0015;
  --dark-orange: #d66819;
  --dark-0f0f: #0f0f0f;
  --dark-121212: #121212;
  --gray-2222: #222222;
  --gray-3232: #323232;
  --gray-4040: #404040;
  --gray-5050: #505050;
  --gray-6161: #616161;
  --gray-9999: #999999;
  --light-gray-d5d5: #d5d5d5;
  --light-gray-ddd: #ddd;
  --light-gray-d0d0: #d0d0d0;
  --light-gray-eee: #eee;
  --btn-opacited-hover-bg: #4d4d4d50;
  --brown: #37271c;
  --main-container-padd-top: 5.6rem;
  --cc-bg: var(--gray-2222);
  --dark-opacited-85: rgba(0, 0, 0, 0.55);
  --cc-secondary-color: var(--white);
  --cc-btn-primary-bg: var(--orange);
  --cc-btn-primary-color: var(--white);
  --cc-btn-primary-hover-color: var(--white);
  --cc-btn-primary-hover-bg: var(--dark-orange);
  --cc-separator-border-color: var(--gray-5050);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7b7b7b !important;
}

::-webkit-scrollbar-track {
  background-color: #424242 !important;
}

.orange-btn-style {
  background-color: var(--orange);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
  width: max-content;
}
.orange-btn-style:hover {
  background-color: var(--dark-orange);
  transition: background-color 0.2s;
}

.orange-outlined-btn-style {
  outline: 1px solid var(--dark-orange-opacited);
  border-radius: 4px;
  color: var(--dark-orange);
  transition: 0.1s;
}
.orange-outlined-btn-style:hover {
  outline-color: var(--dark-orange);
  background-color: var(--orange-opacited-15);
  transition: 0.1s;
}

.btn-style-outlined {
  padding: 5px 10px;
  color: var(--white);
  font-size: 1rem;
  outline: 1px solid var(--gray-5050);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  height: max-content;
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.btn-style-outlined:hover {
  background-color: var(--btn-opacited-hover-bg);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.transparent-btn-style {
  padding: 0.5rem 0.9rem;
  transition: background-color 0.3s ease;
}
.transparent-btn-style:hover {
  background-color: var(--btn-opacited-hover-bg);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.header-container {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  width: 100%;
  background-color: var(--dark-121212);
  height: 4.35rem;
  display: flex;
  padding: 0px 1.3rem;
  z-index: 7;
}
@media screen and (max-width: 1350px) {
  .header-container {
    height: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .header-container {
    padding: 0px 1.08rem;
  }
}
@media screen and (max-width: 365px) {
  .header-container {
    height: 3.6rem;
  }
}
@media screen and (max-width: 290px) {
  .header-container {
    padding: 0px 0.9rem;
  }
}

.header-left-section {
  display: flex;
  align-items: center;
  width: 70rem;
  margin-right: 2.5rem;
}
@media screen and (max-width: 290px) {
  .header-left-section {
    margin-right: 1rem;
  }
}
.header-left-section .header-brand-text {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 1.9rem;
}
@media screen and (max-width: 1350px) {
  .header-left-section .header-brand-text {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1080px) {
  .header-left-section .header-brand-text {
    margin-right: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  .header-left-section .header-brand-text {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 400px) {
  .header-left-section .header-brand-text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 365px) {
  .header-left-section .header-brand-text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 340px) {
  .header-left-section .header-brand-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 318px) {
  .header-left-section .header-brand-text {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 290px) {
  .header-left-section .header-brand-text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 260px) {
  .header-left-section .header-brand-text {
    font-size: 0.95rem;
  }
}
.header-left-section > .header-left-nav-section {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
.header-left-section > .header-left-nav-section form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header-left-section > .header-left-nav-section .header-search-section {
  height: 100%;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .header-left-section > .header-left-nav-section .header-search-section {
    width: 0rem;
  }
}
.header-left-section > .header-left-nav-section .header-search-section .header-search-input {
  height: calc(100% - 2.2rem);
  background-color: var(--gray-3232);
  border-radius: 0.3rem;
  outline: 1px solid var(--gray-5050);
  border: 1px solid transparent;
  width: 100%;
  padding: 0px 2.5rem;
  font-size: 0.85rem;
}
@media screen and (max-width: 1350px) {
  .header-left-section > .header-left-nav-section .header-search-section .header-search-input {
    height: calc(100% - 1.8rem);
  }
}
@media screen and (max-width: 1080px) {
  .header-left-section > .header-left-nav-section .header-search-section .header-search-input {
    display: none;
  }
}
.header-left-section > .header-left-nav-section .header-search-section .header-search-input:focus {
  position: relative;
  border: 1px solid var(--dark-orange-opacited);
  outline: 4px solid var(--orange-opacited-15);
  transition: outline 0.1s;
}
.header-left-section > .header-left-nav-section .header-search-section .header-search-input::placeholder {
  color: var(--light-gray-d0d0);
}
.header-left-section > .header-left-nav-section .header-search-icon-link {
  position: absolute;
  left: 0.25rem;
  pointer-events: none;
}
@media screen and (max-width: 1080px) {
  .header-left-section > .header-left-nav-section .header-search-icon-link {
    pointer-events: all;
  }
}
.header-left-section > .header-left-nav-section .header-search-icon {
  height: 1.2rem;
  color: var(--light-gray-d0d0);
}
.header-left-section .navbar-cutted-style {
  display: none !important;
}
.header-left-section .header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  .header-left-section .header-menu-btn {
    display: flex;
    margin-left: 3rem;
  }
}
@media screen and (max-width: 365px) {
  .header-left-section .header-menu-btn .header-menu-icon {
    height: 1.5rem;
  }
}
@media screen and (max-width: 260px) {
  .header-left-section .header-menu-btn {
    margin-left: 2.5rem;
  }
}
.header-left-section .header-btn-section {
  display: flex;
  margin-left: 2rem;
  column-gap: 1.9rem;
}
@media screen and (max-width: 1350px) {
  .header-left-section .header-btn-section {
    column-gap: 1.3rem;
  }
}
@media screen and (max-width: 1080px) {
  .header-left-section .header-btn-section {
    display: none;
  }
}
.header-left-section .header-btn-section a {
  display: flex;
  align-items: center;
  column-gap: 0.55rem;
  color: var(--light-gray-ddd);
  font-weight: 500;
  font-size: 0.8rem;
}
.header-left-section .header-btn-section a .header-fa {
  height: 1rem;
  color: var(--light-gray-ddd);
}
.header-left-section .header-btn-section a:hover {
  text-decoration: underline;
}

.header-right-section {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  font-weight: 600;
  font-size: 0.8rem;
}
@media screen and (max-width: 1080px) {
  .header-right-section {
    display: none;
  }
}
.header-right-section .header-register-btn {
  padding: 0.5rem 0.9rem;
  transition: background-color 0.3s ease;
}
.header-right-section .header-register-btn:hover {
  background-color: var(--btn-opacited-hover-bg);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}
.header-right-section .header-login-btn {
  background-color: var(--orange);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
  width: max-content;
}
.header-right-section .header-login-btn:hover {
  background-color: var(--dark-orange);
  transition: background-color 0.2s;
}

.header-right-user-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media screen and (max-width: 1080px) {
  .header-right-user-btn {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .header-right-user-btn .header-right-user-icon {
    height: 1.4rem;
  }
}
@media screen and (max-width: 600px) and (max-width: 365px) {
  .header-right-user-btn .header-right-user-icon {
    height: 1.3rem;
  }
}

.input-box-search {
  width: 100%;
  position: absolute;
  background-color: var(--dark-1a1a);
  top: 4rem;
  border-radius: 0.2rem;
  height: max-content;
  max-height: 36.9rem;
  outline: 1px solid var(--gray-5050);
  padding: 0.3rem 0;
  overflow-y: auto;
  font-size: 0.8rem;
  transition: opacity 0.2s;
}
.input-box-search:not(.active) {
  visibility: hidden;
  z-index: -3;
  opacity: 0;
}
.input-box-search ul {
  display: flex;
  flex-direction: column;
}
.input-box-search ul li {
  display: flex;
  padding: 0.5rem 1.2rem;
  height: 5.2rem;
  column-gap: 0.8rem;
  cursor: pointer;
}
.input-box-search ul li:hover {
  background-color: var(--gray-3232);
}
.input-box-search ul li img {
  height: 100%;
  border-radius: 0.2rem;
  object-fit: cover;
}
.input-box-search ul li section {
  padding-top: 0.22rem;
  padding-bottom: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-box-search ul li section span {
  font-size: 0.71rem;
  color: var(--light-gray-d0d0);
}

.main-heading-container {
  display: flex;
  column-gap: 1.5rem;
  height: 37.2rem;
}
@media screen and (max-width: 1080px) {
  .main-heading-container {
    column-gap: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .main-heading-container {
    height: 100%;
  }
}
.main-heading-container .main-heading-left-container {
  min-width: calc(100% - 14rem);
  height: 100%;
  position: relative;
  column-gap: 3px;
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container {
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    min-width: 100%;
  }
  .main-heading-container .main-heading-left-container > * {
    scroll-snap-align: start;
  }
  .main-heading-container .main-heading-left-container::-webkit-scrollbar {
    display: none;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper {
  display: flex;
  min-width: 100%;
  height: 100%;
  position: relative;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-fullhd-img {
  position: relative;
  height: 100%;
  border-radius: 0.3rem;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(90%);
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-fullhd-img {
    border-radius: 0.2rem;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-fullhd-img-gradient {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000 9%, transparent);
  height: 100%;
  border-radius: 0.3rem;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-fullhd-img-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3333333333) 100%, transparent);
    border-radius: 0.2rem;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  padding: 1.5rem 1rem;
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container {
    padding: 1.5rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container {
    padding: 1.5rem 1rem;
  }
}
@media screen and (max-width: 340px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container {
    padding: 1.5rem 0.8rem;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 1px solid var(--light-gray-d0d0);
  border-radius: 0.3rem;
  width: 3.1rem;
  height: 3.1rem;
  position: absolute;
  top: 29.5%;
  transition: background-color 0.2s;
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-control-btn {
    display: none;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-control-btn.right-btn {
  right: 1rem;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-control-btn:hover {
  background-color: rgba(254, 254, 254, 0.2078431373);
  transition: background-color 0.2s;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section {
  display: flex;
  align-items: flex-end;
  column-gap: 1.55rem;
  height: 100%;
  padding-left: 1rem;
  width: 100%;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-miniature {
  width: 13.1rem !important;
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section {
    align-items: center;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-miniature {
  height: 19.1rem;
  min-width: 13rem;
  border-radius: 0.3rem;
  margin-left: 0rem !important;
  cursor: pointer;
  transition: filter 0.3s;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-miniature:hover {
  filter: brightness(85%);
  transition: filter 0.3s;
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-miniature {
    display: none;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  width: 37rem;
  user-select: none;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
  font-size: 2.5rem;
  line-height: 1.1;
  cursor: pointer;
}
@media screen and (max-width: 1350px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    font-size: 2.2rem;
    width: 95%;
  }
}
@media screen and (max-width: 1080px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 365px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    font-size: 1.15rem;
    margin-bottom: 0.3rem;
  }
}
@media screen and (max-width: 340px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 260px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title {
    font-size: 0.9rem;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-title:hover {
  text-decoration: underline;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-description {
  margin-bottom: 0.5rem;
  max-height: 9.1rem !important;
  overflow: hidden;
  line-height: 1.75;
  font-size: 1rem;
}
@media screen and (max-width: 1080px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-description {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 800px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-film-description {
    display: none;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-btn {
  background-color: var(--orange);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 0.82rem;
  font-weight: 600;
  column-gap: 0.5rem;
  transition: background-color 0.3s;
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-btn:hover {
  background-color: var(--dark-orange);
  transition: background-color 0.2s;
}
@media screen and (max-width: 1080px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-btn {
    padding: 0.65rem 1.5rem;
  }
}
@media screen and (max-width: 365px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-btn {
    padding: 0.5rem 1.2rem;
  }
}
@media screen and (max-width: 260px) {
  .main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-btn {
    padding: 0.4rem 1rem;
  }
}
.main-heading-container .main-heading-left-container .main-heading-left-film-wrapper .main-heading-onimage-container .main-heading-left-bottom-section .main-heading-left-text-container .main-heading-left-text-btn:hover {
  background-color: #d56210;
  transition: background-color 0.3s;
}

.main-heading-right-container {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
}
@media screen and (max-width: 1080px) {
  .main-heading-right-container {
    display: none;
  }
}
.main-heading-right-container .main-heading-right-films-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  height: calc(100% - 0.6rem - 1.649rem);
  margin-top: 0.6rem;
}
.main-heading-right-container .main-heading-right-films-container .main-heading-right-film {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.main-heading-right-container .main-heading-right-films-container .main-heading-right-film .main-heading-right-film-miniature-section {
  height: 100%;
  width: 100%;
  position: relative;
}
.main-heading-right-container .main-heading-right-films-container .main-heading-right-film .main-heading-right-film-miniature-section .main-heading-right-film-miniature-link:hover {
  filter: brightness(85%);
  transition: filter 0.2s;
}
.main-heading-right-container .main-heading-right-films-container .main-heading-right-film .main-heading-right-film-miniature-section .main-heading-right-film-miniature-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 7rem;
  transition: filter 0.2s;
}
.main-heading-right-container .main-heading-right-films-container .main-heading-right-film .main-heading-right-film-title {
  font-size: 0.93rem;
  margin-top: 2px;
}

.films-wrapper-carousel {
  display: flex;
  flex-direction: column;
  row-gap: 3.8rem;
  margin-top: 2.8rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 800px) {
  .films-wrapper-carousel {
    row-gap: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .films-wrapper-carousel {
    row-gap: 2.7rem;
  }
}

.film-container {
  max-width: 190px;
  margin-top: 2rem;
  font-size: 13.5px;
}
@media screen and (max-width: 600px) {
  .film-container {
    margin-top: 1.5rem;
  }
}

.films-image-section {
  position: relative;
  transition: filter 0.2s;
}
.films-image-section:hover {
  filter: brightness(84%);
  transition: filter 0.2s;
}
.films-image-section img {
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  object-fit: cover;
  filter: brightness(90%);
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .films-image-section img {
    max-height: 19rem;
  }
}

.films-text-section {
  padding: 12px 0px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5.5px;
}
@media screen and (max-width: 600px) {
  .films-text-section {
    row-gap: 4px;
  }
}

.film-link-title {
  font-size: 14.5px;
  font-weight: 500;
  cursor: pointer;
}
.film-link-title:hover {
  text-decoration: underline;
}
@media screen and (max-width: 400px) {
  .film-link-title {
    font-size: 13.5px;
  }
}
@media screen and (max-width: 340px) {
  .film-link-title {
    font-size: 12.5px;
  }
}

.films-category-control-btns {
  display: flex;
  column-gap: 1.5rem;
}
@media screen and (max-width: 800px) {
  .films-category-control-btns {
    column-gap: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  .films-category-control-btns {
    display: none;
  }
}
.films-category-control-btns .films-category-control-btn {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.films-category-control-btns .films-category-control-btn:not(.swiper-button-disabled):hover {
  background-color: var(--gray-3232);
  transition: background-color 0.2s;
}
.films-category-control-btns .films-category-control-btn.swiper-button-disabled {
  color: var(--gray-3232);
}

.footer-container {
  position: relative;
  width: 1240px;
  height: max-content;
  margin-top: 4.5rem;
  padding-bottom: 2rem;
  color: var(--light-gray-ddd);
  font-size: 14px;
}
@media screen and (max-width: 1350px) {
  .footer-container {
    width: 93%;
  }
}
@media screen and (max-width: 600px) {
  .footer-container {
    height: 11rem;
    margin-top: 7rem;
  }
}

.footer-topside-section,
.footer-bottomside-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.footer-topside-section .footer-dropdown-lang,
.footer-bottomside-section .footer-dropdown-lang {
  position: absolute;
  width: 11rem;
  height: max-content;
  border: 1px solid var(--gray-3232);
  border-radius: 5px;
  background-color: var(--dark-1a1a);
  right: 0;
  bottom: 3rem;
  padding: 5px 0px;
  transition: opacity 0.2s;
}
@media screen and (max-width: 600px) {
  .footer-topside-section .footer-dropdown-lang,
  .footer-bottomside-section .footer-dropdown-lang {
    left: 50%;
    transform: translate(-50%);
    bottom: 2.1rem;
    width: 8rem;
  }
}
.footer-topside-section .footer-dropdown-lang:not(.active),
.footer-bottomside-section .footer-dropdown-lang:not(.active) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s;
}
.footer-topside-section .footer-dropdown-lang button,
.footer-bottomside-section .footer-dropdown-lang button {
  width: 100%;
  height: 100%;
  color: var(--white);
  text-align: left;
  padding: 0.5rem;
  padding-left: 1.2rem;
  font-size: 13px;
}
.footer-topside-section .footer-dropdown-lang button.choosed,
.footer-bottomside-section .footer-dropdown-lang button.choosed {
  height: auto;
  background-color: var(--brown);
}
.footer-topside-section .footer-dropdown-lang button.choosed:before,
.footer-bottomside-section .footer-dropdown-lang button.choosed:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 0;
  font-size: 13px;
  color: var(--dark-orange);
  margin-right: 0.3rem;
  height: 100%;
}
.footer-topside-section .footer-dropdown-lang button,
.footer-bottomside-section .footer-dropdown-lang button {
  display: flex;
  column-gap: 0.3rem;
}

@media screen and (max-width: 600px) {
  .footer-topside-section {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.footer-topside-section .footer-topside-leftside-section {
  display: flex;
  column-gap: 2rem;
  font-size: 14px;
  color: var(--orange);
}
.footer-topside-section .footer-topside-rightside-section {
  display: flex;
  column-gap: 1.8rem;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .footer-topside-section .footer-topside-leftside-section a {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .footer-topside-section .footer-brand-icon {
    padding-left: 2px;
    font-size: 1.2rem;
  }
}

.footer-bottomside-section {
  height: max-content;
}
@media screen and (max-width: 600px) {
  .footer-bottomside-section {
    flex-direction: column;
    align-items: center;
    row-gap: 0.2rem;
    font-size: 13px;
  }
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  height: max-content;
  width: 100%;
  color: var(--white);
  transition: opacity 0.3s, backdrop-filter 0.3s;
  position: relative;
  background-color: var(--dark-1a1a);
}

.opacity-el::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 150%;
  top: -200px;
  z-index: -10;
  display: none;
}
@media screen and (max-width: 1080px) {
  .opacity-el::before {
    display: block;
  }
}

.opacity-el.active::before {
  background-color: var(--dark-opacited-85);
  backdrop-filter: blur(4px);
  z-index: 10;
}

body {
  height: max-content;
  width: 100%;
}

.film-play-btn {
  position: absolute;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  background-color: var(--white);
  bottom: 12px;
  left: 12px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-dark {
  background-color: var(--dark-121212);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.space-light {
  background-color: var(--dark-1a1a);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: max-content;
}

.content-full-space-centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.typical-container-comp-with-films {
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  width: 1240px;
  padding: calc(var(--main-container-padd-top) + 0.7rem) 0rem;
  padding-bottom: var(--main-container-padd-top);
}
@media screen and (max-width: 1350px) {
  .typical-container-comp-with-films {
    width: 90%;
    padding-top: var(--main-container-padd-top);
    padding-bottom: calc(var(--main-container-padd-top) - 0.8rem) 0rem;
  }
}
@media screen and (max-width: 400px) {
  .typical-container-comp-with-films {
    padding-top: calc(var(--main-container-padd-top) - 0.6rem);
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  height: max-content;
  padding-top: var(--main-container-padd-top);
  margin: 0 auto;
  width: 77.5rem;
  overflow: hidden;
}
@media screen and (max-width: 1350px) {
  .content-wrapper {
    width: 93%;
  }
}
@media screen and (max-width: 1080px) {
  .content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .content-wrapper {
    width: 93%;
    padding-top: 5rem;
  }
}
@media screen and (max-width: 365px) {
  .content-wrapper {
    padding-top: 4.5rem;
  }
}

.orange-link {
  color: var(--orange);
}
.orange-link:hover {
  text-decoration: underline;
  filter: brightness(95%);
}

.main-text-rating {
  font-size: 0.9rem;
}
@media screen and (max-width: 500px) {
  .main-text-rating {
    font-size: 13px;
  }
}

.orange-checkbox {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid var(--light-gray-d0d0);
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.orange-checkbox:checked {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  border: 0;
}
.orange-checkbox:checked:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--gray-3232);
  font-size: 14px;
  padding-top: 1px;
}

.loader-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-container .loader {
  height: 20px;
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  background: var(--dark-orange);
  box-shadow: 0 0 60px 15px var(--dark-orange);
  transform: translate(-80px);
  clip-path: inset(0);
  animation: l4-1 0.5s ease-in-out infinite alternate, l4-2 1s ease-in-out infinite;
}

@keyframes l4-1 {
  100% {
    transform: translateX(80px);
  }
}
@keyframes l4-2 {
  33% {
    clip-path: inset(0 0 0 -100px);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 -100px 0 0);
  }
}
.films-heading-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.films-heading-section:before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--orange);
  border-radius: 5px;
}

.films-category-heading-text {
  padding-left: 15px;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  column-gap: 0.5rem;
  line-height: 1.3;
  cursor: text;
}
@media screen and (max-width: 1080px) {
  .films-category-heading-text {
    font-size: 1.5rem;
    column-gap: 0.3rem;
  }
}
@media screen and (max-width: 400px) {
  .films-category-heading-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 340px) {
  .films-category-heading-text {
    font-size: 1.3rem;
  }
}
.films-category-heading-text:hover .popular-films-category-heading-icon {
  transform: translate(6px);
  transition: transform 0.2s ease;
}
@media screen and (max-width: 800px) {
  .films-category-heading-text .popular-films-category-heading-icon {
    display: none;
  }
}

.films-wrapper {
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1.2rem;
}
@media screen and (max-width: 1350px) {
  .films-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 950px) {
  .films-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .films-wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .films-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
}

.films-wrapper-pejzaz {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 1.3rem;
  row-gap: 1.8rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1080px) {
  .films-wrapper-pejzaz {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1.7rem;
  }
}
@media screen and (max-width: 800px) {
  .films-wrapper-pejzaz {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.8rem;
  }
}
@media screen and (max-width: 365px) {
  .films-wrapper-pejzaz {
    grid-template-columns: repeat(1, 1fr);
  }
}
.films-wrapper-pejzaz .film-container-pejzaz img {
  width: 100%;
}

.films-wrapper-list {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
}
.films-wrapper-list .film-container-list {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 500px) {
  .films-wrapper-list .film-container-list {
    column-gap: 0.7rem;
  }
}
.films-wrapper-list .film-container-list img {
  min-width: 136px;
  height: 200px;
}
@media screen and (max-width: 400px) {
  .films-wrapper-list .film-container-list img {
    min-width: 130px;
  }
}
@media screen and (max-width: 340px) {
  .films-wrapper-list .film-container-list img {
    min-width: 112px;
  }
}
@media screen and (max-width: 270px) {
  .films-wrapper-list .film-container-list img {
    min-width: 100px;
  }
}
@media screen and (max-width: 260px) {
  .films-wrapper-list .film-container-list img {
    min-width: 80px;
  }
}
.films-wrapper-list .film-container-list .film-list-description {
  width: 100%;
  font-size: 13px;
  max-height: 200px;
  overflow: auto;
}
@media screen and (max-width: 500px) {
  .films-wrapper-list .film-container-list .film-list-description {
    font-size: 12px;
  }
}
@media screen and (max-width: 340px) {
  .films-wrapper-list .film-container-list .film-list-description::-webkit-scrollbar {
    display: none;
  }
}
.films-wrapper-list .main-text-rating {
  display: flex;
}
@media screen and (max-width: 500px) {
  .films-wrapper-list .main-text-rating {
    flex-direction: column;
    row-gap: 0.15rem;
    margin-top: 0.25rem;
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .films-wrapper-list .main-text-rating .film-list-rating-separate-symbol {
    display: none;
  }
}

.rate-this-btn {
  padding: 0.5rem 0.9rem;
  transition: background-color 0.3s ease;
}
.rate-this-btn:hover {
  background-color: var(--btn-opacited-hover-bg);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 500px) {
  .rate-this-btn:hover {
    background-color: transparent;
  }
}

.typical-dropdown-style {
  padding: 6px 0px;
  position: fixed;
  bottom: 0;
  width: 85% !important;
  height: max-content;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--gray-5050);
  background-color: var(--dark-121212);
  z-index: 20;
  opacity: 1;
  display: none;
  transition: bottom 0.15s, visibility 0.3s;
}
@media screen and (max-width: 1080px) {
  .typical-dropdown-style {
    display: block;
  }
}
.typical-dropdown-style:not(.active) {
  opacity: 0;
  bottom: -100px;
}
.typical-dropdown-style nav,
.typical-dropdown-style div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.typical-dropdown-style nav button,
.typical-dropdown-style div button {
  width: 100%;
  height: 100%;
  color: var(--white);
  text-align: left;
  padding: 0.5rem;
  padding-left: 1.2rem;
  font-size: 13px;
}
.typical-dropdown-style nav button.choosed,
.typical-dropdown-style div button.choosed {
  height: auto;
  background-color: var(--brown);
}
.typical-dropdown-style nav button.choosed:before,
.typical-dropdown-style div button.choosed:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 0;
  font-size: 13px;
  color: var(--dark-orange);
  margin-right: 0.3rem;
  height: 100%;
}
.typical-dropdown-style nav a,
.typical-dropdown-style nav button,
.typical-dropdown-style div a,
.typical-dropdown-style div button {
  column-gap: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--white);
  height: 100%;
  width: 100%;
  padding: 10px 1rem !important;
}
.typical-dropdown-style nav a:hover,
.typical-dropdown-style nav button:hover,
.typical-dropdown-style div a:hover,
.typical-dropdown-style div button:hover {
  background-color: var(--gray-2222);
}

.opinion-must-be-logged-container {
  width: 95%;
  margin: 0 auto;
  height: max-content;
  padding: 1.5rem 0px;
  border: 2px dotted var(--gray-3232);
  border-radius: 3px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 6px;
  text-align: center;
}
.opinion-must-be-logged-container h1 {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0px 0.7rem;
}
@media screen and (max-width: 400px) {
  .opinion-must-be-logged-container h1 {
    font-size: 1.1rem;
  }
}
.opinion-must-be-logged-container p {
  color: var(--light-gray-d0d0);
  font-size: 15px;
  padding: 0px 1rem;
}
@media screen and (max-width: 400px) {
  .opinion-must-be-logged-container p {
    font-size: 14px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.policy-container {
  height: max-content;
  min-height: 76vh;
  width: 1240px;
  padding: var(--main-container-padd-top) 0rem;
}
@media screen and (max-width: 1240px) {
  .policy-container {
    width: 92%;
    padding-left: 0;
    padding-right: 0;
  }
}
.policy-container h1 {
  font-size: 2.3rem;
  font-weight: 600;
}
@media screen and (max-width: 1240px) {
  .policy-container h1 {
    font-size: 1.9rem;
  }
}
.policy-container p {
  margin-top: 1rem;
}/*# sourceMappingURL=regulamin.css.map */