@import './global.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.acc-settings-page-container {
  width: 1240px;
  min-height: 100vh;
	padding: calc(var(--main-container-padd-top) + 0.7rem) 0rem;
  @include tablet-1350 {
    width: 93%;
  }
}