* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import './global.scss';

.contact-input-form {
	section {
		.contact-message-textarea {
			height: 11rem;
			padding-top: 0.7rem;
		}
	}
	.contact-submit-btn {
		@include btn-style;
	}
}
