@import './global.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.film-page-image-fullhd-preview {
	width: 100%;
	background-color: black;
	height: 32rem;
	overflow: hidden;
	position: relative;
	@include tablet-1350 {
		height: 28rem;
	}
	@include tablet-950 {
		height: 24rem;
	}
	@include tablet-700 {
		height: 20rem;
	}
	@include mobile-500 {
		height: 16rem;
	}
	@include flex-center;
	.film-page-image-blured {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 2;
		backdrop-filter: blur(8px);
	}
	.film-page-image-gradient {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 5;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 1%, transparent);
	}
	.film-play-btn {
		position: absolute;
		z-index: 6;
		height: 50px;
		width: 50px;
		left: 50%;
		top: 50%;
		transform: translate(-50%);
		@include mobile-365 {
			height: 45px;
			width: 45px;
		}
	}
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
		opacity: 0.3;
	}
	div {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	div img {
		height: 100%;
		width: 1240px;
		object-fit: cover;
		position: relative;
		margin-top: 140px;
		z-index: 3;
		filter: brightness(78%);
		@include tablet-1350 {
			width: 93%;
			margin-top: 130px;
		}
		@include tablet-700 {
			margin-top: 110px;
		}
		@include mobile-340 {
			width: 92%;
		}
	}
}

.film-page-container {
	width: 1240px;
	min-height: 100vh;
	height: max-content;
	position: relative;
	margin-bottom: 3rem;
	margin-top: 2rem;
	display: grid;
	column-gap: 3rem;
	grid-template-columns: 1fr 3fr;
	@include tablet-1350 {
		width: 93%;
		column-gap: 1.5rem;
	}
	@include tablet-950 {
		grid-template-columns: auto;
	}
	.film-page-aside {
		position: sticky;
		top: 5rem;
		display: flex;
		flex-direction: column;
		row-gap: 0.9rem;
		height: max-content;
		width: 100%;
		@include tablet-950 {
			display: none;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.4rem;
			width: 100%;
			font-size: 13px;
			font-weight: 500;
			height: 2.3rem;
		}
		section {
			display: flex;
			flex-direction: column;
			font-size: 14.5px;
			margin-top: 0.8rem;
			b {
				font-weight: 500;
				font-size: 15px;
				margin-bottom: 0.2rem;
			}
		}
	}
	.film-page-main {
		font-size: 14.5px;
		.film-page-main-top-info-heading-section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.3rem;
			@include tablet-950 {
				flex-direction: column;
				align-items: flex-start;
			}
			.film-page-film-title {
				font-size: 2.5rem;
				line-height: 1.1;
				margin-bottom: 8px;
				margin-right: 2rem;
				@include tablet-800 {
					font-size: 2.2rem;
				}
				@include mobile-400 {
					font-size: 2rem;
				}
			}
		}
		.film-page-main-top-info-text-section {
			padding-bottom: 0.8rem;
			border-bottom: 1px solid var(--gray-3232);
		}
		.film-page-main-film-categories-section {
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: .7rem;
				li {
					padding: 7px 11px;
					background-color: var(--gray-6161);
					font-size: 13px;
					border-radius: 1rem;
				}				
			}
			margin-bottom: 1.2rem;
		}
	}
}
