@import './global.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.film-page-image-fullhd-preview {
	width: 100%;
	background-color: black;
	height: 32rem;
	overflow: hidden;
	position: relative;
	@include tablet-1350 {
		height: 28rem;
	}
	@include tablet-950 {
		height: 24rem;
	}
	@include tablet-700 {
		height: 20rem;
	}
	@include mobile-500 {
		height: 16rem;
	}
	@include flex-center;
	.film-page-image-blured {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 2;
		backdrop-filter: blur(8px);
	}
	.film-page-image-gradient {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 5;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 1%, transparent);
	}
	.film-play-btn {
		position: absolute;
		z-index: 6;
		height: 50px;
		width: 50px;
		left: 50%;
		top: 50%;
		transform: translate(-50%);
		@include mobile-365 {
			height: 45px;
			width: 45px;
		}
	}
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		z-index: 1;
		opacity: 0.3;
	}
	div {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	div img {
		height: 100%;
		width: 1240px;
		object-fit: cover;
		position: relative;
		margin-top: 140px;
		z-index: 3;
		filter: brightness(78%);
		@include tablet-1350 {
			width: 93%;
			margin-top: 130px;
		}
		@include tablet-700 {
			margin-top: 110px;
		}
		@include mobile-340 {
			width: 92%;
		}
	}
}

.film-page-container {
	width: 1240px;
	height: 100%;
	position: relative;
	margin-bottom: 3rem;
	margin-top: 2rem;
	display: grid;
	column-gap: 2.7rem;
	grid-template-columns: minmax(5rem, 17rem) minmax(35rem, 60rem);
	@include tablet-1350 {
		width: 93%;
		column-gap: 2rem;
	}
	@include tablet-950 {
		display: flex;
		flex-direction: column;
		width: 93%;
		height: max-content;
	}
	.film-page-aside {
		position: sticky;
		top: 5rem;
		display: flex;
		flex-direction: column;
		row-gap: 0.9rem;
		height: max-content;
		width: 100%;
		@include tablet-950 {
			display: none;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.4rem;
			width: 100%;
			font-size: 13px;
			font-weight: 500;
			height: 2.3rem;
		}
		section {
			display: flex;
			flex-direction: column;
			font-size: 14.5px;
			margin-top: 0.8rem;
			b {
				font-weight: 500;
				font-size: 15px;
				margin-bottom: 0.3rem;
			}
		}
		.film-page-aside-filmed-in-keywords-section {
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;
				margin-top: 5px;
				li {
					padding: 2px 10px;
					outline: 1px solid var(--gray-4040);
					font-size: 13px;
					border-radius: 10px;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.film-page-main {
		font-size: 14.5px;
		.film-page-main-top-info-heading-section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;
			@include tablet-950 {
				flex-direction: column;
				align-items: flex-start;
			}
			.film-page-film-title {
				font-size: 2.5rem;
				line-height: 1.1;
				margin-bottom: 8px;
				margin-right: 2rem;
				@include tablet-800 {
					font-size: 2.2rem;
				}
				@include mobile-400 {
					font-size: 2rem;
				}
			}
		}
		.film-page-main-top-info-text-section {
			padding-bottom: 0.8rem;
			border-bottom: 1px solid var(--gray-3232);
		}
		.film-page-main-film-categories-section {
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0.7rem;
				li {
					padding: 7px 11px;
					background-color: var(--gray-6161);
					font-size: 13px;
					border-radius: 1rem;
				}
			}
			margin-bottom: 1rem;
		}
		.film-page-sources-container {
			margin-top: 2rem;
			.film-page-sources-landscapes-container {
				width: 100%;
				height: max-content;
				margin-top: 1.5rem;
				column-gap: 1.2rem;
				@include tablet-700 {
					column-gap: 0.9rem;
				}
				section {
					position: relative;
				}
				article {
					width: 100%;
					display: flex;
					flex-direction: column;
					row-gap: 8px;
					transition: filter 0.2s;
					&:hover {
						filter: brightness(84%);
						transition: filter 0.2s;
					}
					a {
						cursor: pointer;
						width: 100%;
						.film-page-sources-gradient-image {
							width: 97%;
							height: 100%;
							position: absolute;
							background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 1%, transparent);
						}
						.film-page-sources-imageontext {
							height: 100%;
							width: 100%;
							position: absolute;
							font-weight: 400;
							font-size: 14px;
							section {
								display: flex;
								align-items: center;
								column-gap: 5px;
								position: absolute;
								bottom: 13px;
								left: 13px;
								@include tablet-700 {
									bottom: 9px;
									left: 9px;
								}
							}
						}
					}
					a {
						font-size: 14px;
						font-weight: 500;
						padding-right: 0.6rem;
					}
				}
			}
		}
		.film-page-alike-films-container {
			width: 100%;
			height: max-content;
		}
	}
}

.film-page-opinion-ab-film {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	.films-heading-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		width: 100%;
		.main-text-rating {
			@include mobile-500 {
				display: none;
			}
		}
		.btn-style-outlined {
			@include mobile-290 {
				display: none;
			}
		}
	}
	.film-page-opinion-ab-film-review-container {
		width: 100%;
		height: max-content;
		border-radius: 4px;
		background-color: var(--dark-0f0f);
		border: 1px solid var(--gray-3232);
		display: flex;
		padding: 0.9rem 1.5rem;
		flex-direction: column;
		row-gap: 1rem;
		@include tablet-700 {
			flex-direction: column;
			row-gap: 0.7rem;
			padding: 0.8rem 1rem;
		}
		.film-page-opinion-ab-film-heading-section {
			.film-page-opinion-ab-film-left-section {
				padding: 2px 0px;
				color: var(--light-gray-d0d0);
				font-size: 13px;
				display: flex;
				width: 100%;
				row-gap: 5px;
				.film-page-opinions-stars-icons {
					height: 22px;
					@include mobile-340 {
						height: 17px;
					}
					@include mobile-260 {
						height: 15px;
					}
				}
				@include tablet-700 {
					padding: 7px 0px;
				}
			}
		}
		.film-page-add-opinion-btn {
			padding: 7.5px 1rem;
			background-color: var(--gray-6161);
			filter: brightness(60%);
			font-weight: 500;
			font-size: 13px;
			width: max-content;
			height: max-content;
			border-radius: 5px;
			cursor: not-allowed;
		}
		.film-page-add-opinion-btn.logged {
			filter: brightness(100%);
			cursor: pointer;
			background-color: var(--orange);
			transition: 0.2s;
			&:hover {
				transition: 0.2s;
				filter: brightness(90%);
			}
		}
	}
}

.film-page-adding-opinion-container {
	display: flex;
	flex-direction: column;
	row-gap: 1.7rem;
	width: 100%;
	margin-top: 0.7rem;
	@include mobile-600 {
		row-gap: 1rem;
	}
	section {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		label {
			font-size: 13px;
		}
		input,
		textarea {
			@include input-style;
			font-size: 16px;
			&:focus {
				@include orange-outline;
			}
		}
		textarea {
			padding: 7px 10px;
		}
	}
}
