@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin orange-outline {
	position: relative;
	border: 1px solid var(--dark-orange-opacited);
	outline: 4px solid var(--orange-opacited-15);
	transition: outline 0.1s;
}

@mixin btn-style {
	background-color: var(--orange);
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	transition: background-color 0.2s;
	width: max-content;
	&:hover {
		background-color: var(--dark-orange);
		transition: background-color 0.2s;
	}
}

@mixin input-style {
	padding: 0px 10px;
	color: var(--white);
	font-size: 0.88rem;
	outline: 1px solid var(--gray-5050);
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: transparent;
	height: 2.6rem;
}

html.dark {
	// root for dark layout
	--white: #ffffff;
	--dark-1a1a: #1a1a1a;
	--dark-orange-opacited: rgba(255, 123, 0, 0.5);
	--orange: #f27318;
	--orange-opacited-15: #fe6a0015;
	--dark-orange: #d66819;

	--dark-121212: #121212;
	--gray-2222: #222222;
	--gray-3232: #323232;
	--gray-5050: #505050;
	--gray-9999: #999999;

	--light-gray-d5d5: #d5d5d5;
	--light-gray-ddd: #ddd;
	--light-gray-d0d0: #d0d0d0;
	--light-gray-eee: #eee;

	--btn-opacited-hover-bg: #4d4d4d50;
	--brown: #37271c;
	--main-container-padd-top: 5.6rem;

	--cc-bg: var(--gray-2222);
	--dark-opacited-85: rgba(0, 0, 0, 0.55);
	--cc-secondary-color: var(--white);

	--cc-btn-primary-bg: var(--orange);
	--cc-btn-primary-color: var(--white);
	--cc-btn-primary-hover-color: var(--white);
	--cc-btn-primary-hover-bg: var(--dark-orange);

	--cc-separator-border-color: var(--gray-5050);
}

::-webkit-scrollbar {
	width: auto;
}

::-webkit-scrollbar-thumb {
	background-color: #7b7b7b !important;
}

::-webkit-scrollbar-track {
	background-color: #424242 !important;
}

@mixin tablet-1350 {
	@media screen and (max-width: 1350px) {
		@content;
	}
}

@mixin tablet-1240 {
	@media screen and (max-width: 1240px) {
		@content;
	}
}

@mixin tablet-1080 {
	@media screen and (max-width: 1080px) {
		@content;
	}
}

@mixin tablet-950 {
	@media (max-width: 950px) {
		@content;
	}
}

@mixin tablet-800 {
	@media screen and (max-width: 800px) {
		@content;
	}
}

@mixin tablet-700 {
	@media screen and (max-width: 700px) {
		@content;
	}
}

@mixin mobile-600 {
	@media screen and (max-width: 600px) {
		@content;
	}
}

@mixin mobile-500 {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mobile-400 {
	@media screen and (max-width: 400px) {
		@content;
	}
}

@mixin mobile-365 {
	@media screen and (max-width: 365px) {
		@content;
	}
}

@mixin mobile-340 {
	@media screen and (max-width: 340px) {
		@content;
	}
}

@mixin mobile-318 {
	@media screen and (max-width: 318px) {
		@content;
	}
}

@mixin mobile-290 {
	@media screen and (max-width: 290px) {
		@content;
	}
}

@mixin mobile-270 {
	@media screen and (max-width: 270px) {
		@content;
	}
}

@mixin mobile-260 {
	@media screen and (max-width: 260px) {
		@content;
	}
}

@import './layouts/navbar';
@import './home-components/heading-container';
@import './home-components/films-categories';
@import './layouts/footer';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*::before,
*::after,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 1rem;
	height: max-content;
	width: 100%;
	color: var(--white);
	transition: opacity 0.3s, backdrop-filter 0.3s;
	position: relative;
	background-color: var(--dark-1a1a);
}

.opacity-el.active::before {
	content: '';
	position: fixed;
	backdrop-filter: blur(4px);
	width: 100%;
	height: 150%;
	top: -200px;
	z-index: 10;
	background-color: var(--dark-opacited-85);
	transition: background-color 0.2s ease-in-out;
}

body {
	height: max-content;
	width: 100%;
}

.film-play-btn {
	position: absolute;
	height: 2.6rem;
	width: 2.6rem;
	border-radius: 50%;
	background-color: var(--white);
	bottom: 12px;
	left: 12px;
	@include flex-center;
}

@mixin full-space {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	height: max-content;
}

.space-dark {
	background-color: var(--dark-121212);
	@include full-space;
}

.space-light {
	background-color: var(--dark-1a1a);
	@include full-space;
}

.content-full-space-centered {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content-wrapper {
	position: relative;
	z-index: 1;
	height: max-content;
	padding-top: var(--main-container-padd-top);
	margin: 0 auto;
	width: 77.5rem;
	overflow: hidden;
	@include tablet-1350 {
		width: 93%;
	}
	@include tablet-1080 {
		width: 90%;
	}
	@include mobile-600 {
		width: 93%;
		padding-top: 5rem;
	}
	@include mobile-365 {
		padding-top: 4.5rem;
	}
}

.orange-link {
	color: var(--orange);
	&:hover {
		text-decoration: underline;
		filter: brightness(95%);
	}
}

.main-text-rating {
	font-size: .9rem;
}

.orange-checkbox {
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	border: 1px solid var(--light-gray-d0d0);
	background-color: transparent;
	position: relative;
	cursor: pointer;
	&:checked {
		@include flex-center;
		background-color: var(--orange);
		border: 0;
		&:before {
			content: '\f00c';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			color: var(--dark-121212);
			font-size: 14px;
			padding-top: 2px;
		}
	}
}
