@import './home.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.content-container {
	min-height: 100vh;
	height: max-content;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.reg-log-container {
	padding-top: calc(var(--main-container-padd-top) - 2.2rem);
	display: flex;
	align-items: center;
	height: max-content;
	width: 100%;
	flex-direction: column;
	padding-bottom: 10rem;
	font-size: 0.75rem;
	position: relative;
	@include mobile-500 {
		padding-top: 2.5rem;
	}
	.reg-log-brand-text {
		font-size: 3.5rem;
		font-weight: bold;
		@include mobile-500 {
			font-size: 2.8rem;
		}
		@include mobile-340 {
			font-size: 2.4rem;
		}
		@include mobile-290 {
			font-size: 2.2rem;
		}
		@include mobile-270 {
			font-size: 1.9rem;
		}
	}
	.reg-log-box {
		display: flex;
		flex-direction: column;
		height: 65%;
		width: 28rem;
		border: 1px solid var(--gray-3232);
		border-radius: 6px;
		margin-top: 1rem;
		padding: 2.8rem;
		padding-bottom: 2rem;
		@include mobile-500 {
			padding: 2rem;
			padding-bottom: 1.5rem;
			width: 92%;
		}
		@include mobile-365 {
			padding: 1.5rem 1rem;
		}
		h1 {
			font-size: 1.2rem;
		}
		.reg-log-input-form {
			display: flex;
			flex-direction: column;
			margin-top: 1.3rem;
			> section {
				display: flex;
				flex-direction: column;
				row-gap: 4px;
				margin-bottom: 1.8rem;
				input[type='text'] {
					@include input-style;
					&:focus {
						@include orange-outline;
					}
				}
				label {
					font-size: 0.84rem;
				}
			}
		}
		.reg-log-create-acc-btn {
			@include btn-style;
			font-size: 0.95rem !important;
			font-weight: 500;
			padding-top: 0.6rem;
			padding-bottom: 0.6rem;
			width: 100%;
			margin-bottom: 1.5rem;
		}
		.reg-log-authorize-section {
			@include flex-center;
			flex-direction: column;
			width: 100%;
			row-gap: 1.2rem;
			span {
				font-size: 0.8rem;
				color: var(--light-gray-d5d5);
				position: relative;
				text-align: center;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				&::before {
					content: '';
					position: absolute;
					height: 100%;
					background-color: var(--dark-1a1a);
					left: 50%;
					transform: translate(-50%);
					z-index: -1;
				}
				> hr {
					position: absolute;
					width: 100%;
					border-radius: 2px;
					top: 50%;
					left: 50%;
					transform: translate(-50%);
					z-index: -2;
					border: 0.5px solid var(--gray-3232);
				}
			}
			.login-authorize-text {
				&:before {
					width: 9rem;
				}
			}
			.register-authorize-text {
				&:before {
					width: 10rem;
				}
			}
			.reg-log-google-authorize-btn {
				padding: 0.05rem 0.05rem;
				border-radius: 4px;
				width: max-content;
				background-color: transparent;
				border: 1px solid var(--gray-3232);
				transition: background-color 0.3s ease;
				&:hover {
					background-color: var(--btn-opacited-hover-bg);
					transition: background-color 0.3s ease;
				}
			}
		}
	}
	> p {
		margin-top: 2rem;
		font-size: 0.81rem;
		color: var(--light-gray-eee);
	}
}

.reg-log-bottom-link {
	font-size: 0.85rem;
	position: absolute;
	bottom: 2.5rem;
	color: var(--gray-9999);
	transition: filter 0.2s;
	&:hover {
		filter: brightness(140%);
		transition: filter 0.2s;
	}
}
