@import './global.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.searched-films-wrapper {
	width: 1240px;
	height: max-content;
	margin-top: 1rem;
	&:not(.active) {
		display: none;
	}
	@include tablet-1350 {
		width: 100%;
	}
	.search-movies-section {
		margin-top: 2rem;
	}
	.search-movies-section {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		.search-category-text {
			position: relative;
			&:not(.active) {
				display: none;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: 4px;
				height: 100%;
				background-color: var(--orange);
				border-radius: 5px;
			}
		}
	}
}

.search-page-container {
	width: 1240px;
	height: max-content;
	@include tablet-1350 {
		width: 100%;
	}
}

.search-page-text-section {
	&:not(.active) {
		display: none;
	}
}

.search-page-input-style {
	@include input-style;
	margin-bottom: 2rem;
	display: none;
	height: 3rem !important;
	touch-action: none;
	font-size: 16px;
	@include tablet-1080 {
		display: flex;
		width: 28rem;
	}
	@include mobile-600 {
		width: 100%;
	}
	&:focus {
		@include orange-outline;
	}
}